@(reqForm: play.data.Form[models.InferenceRequest])(implicit messages: play.i18n.Messages)
<!DOCTYPE html>
<html>
<head>
<title>json-schema-inferrer</title>
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
<script>
function formatJsonSample() {
  var sampleTextarea = document.getElementById("sample");
  try {
    sampleTextarea.value = JSON.stringify(JSON.parse(sampleTextarea.value), null, 2);
  } catch (e) {
    alert(e);
  }
}
</script>
<style>
* {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
  font-size: 13px;
}
</style>
</head>
<body>
@helper.form(action = controllers.routes.HomeController.inferenceRequestFormSubmit()) {
  @helper.textarea(reqForm("sample"),
      Symbol("_label") -> "JSON sample",
      Symbol("rows") -> "16", Symbol("cols") -> "64")
  <button type="submit"><b>Submit</b></button>
  <button type="button" onclick="formatJsonSample()">Format JSON</button>
  @helper.inputText(reqForm("arraySampleAsMulti"),
      Symbol("type") -> "checkbox",
      Symbol("_label") -> "Treat array sample as multiple samples")
  @helper.select(reqForm("specVersion"),
      Seq(("DRAFT_04", "draft-04"), ("DRAFT_06", "draft-06"), ("DRAFT_07", "draft-07")),
      Symbol("_label") -> "Spec Version")
  @helper.inputText(reqForm("examplesLimit"),
      Symbol("_label") -> "Limit for examples (0 to disable examples)",
      Symbol("type") -> "number",
      Symbol("placeholder") -> "0")
  @helper.select(reqForm("integerTypeCriterion"),
      Seq(("nonFloatingPoint", "A number is an integer if it's not a floating point, i.e. 1 is an integer and 1.0 is not."),
          ("mathematicalInteger", "A number is an integer if its mathematical value is an integer, i.e. 1.0 is an integer and 1.5 is not.")),
      Symbol("_label") -> "Criterion for integer type")
  @helper.select(reqForm("integerTypePreference"),
      Seq(("IF_ALL", "use integer if all the number samples are integers"),
          ("IF_ANY", "use integer wherever possible"),
          ("NEVER", "always use number instead of integer")),
      Symbol("_label") -> "Preference for integer type")
  @helper.select(reqForm("additionalPropertiesPolicy"),
      Seq(("noOp", "noOp"), ("allowed", "allowed"), ("notAllowed", "notAllowed"),
          ("existingTypes", "existingTypes")),
      Symbol("_label") -> "Policy for additionalProperties")
  @helper.select(reqForm("requiredPolicy"),
      Seq(("noOp", "noOp"), ("commonFields", "commonFields"),
          ("nonNullCommonFields", "nonNullCommonFields")),
      Symbol("_label") -> "Policy for required")
  @helper.select(reqForm("defaultPolicy"),
      Seq(("noOp", "noOp"), ("useFirstSamples", "useFirstSamples"),
          ("useLastSamples", "useLastSamples")),
      Symbol("_label") -> "Policy for default")
  @helper.select(reqForm("titleGenerator"),
      Seq(("noOp", "noOp"), ("useFieldNames", "useFieldNames")),
      Symbol("_label") -> "Policy for titles")
  @helper.select(reqForm("multipleOfPolicy"),
      Seq(("noOp", "noOp"), ("gcd", "gcd")),
      Symbol("_label") -> "Policy for multipleOf")
  @helper.inputText(reqForm("inferObjectSizeLimits"),
      Symbol("type") -> "checkbox",
      Symbol("_label") -> "Infer object size limits")
  @helper.inputText(reqForm("inferArrayLengthLimits"),
      Symbol("type") -> "checkbox",
      Symbol("_label") -> "Infer array length limits")
  @helper.inputText(reqForm("inferStringLengthLimits"),
      Symbol("type") -> "checkbox",
      Symbol("_label") -> "Infer string length limits")
  @helper.inputText(reqForm("inferNumberRange"),
      Symbol("type") -> "checkbox",
      Symbol("_label") -> "Infer number range")
  @helper.select(reqForm("formatInferrers"),
      Seq(("dateTime", "dateTime"), ("email", "email"), ("ip", "ip"), ("uri", "uri")),
      Symbol("multiple") -> "",
      Symbol("_label") -> "Infer format for (hold ctrl/cmd to multi-select)")
  <button type="submit"><b>Submit</b></button>
}
<p>
  Powered by
  <a href="https://github.com/saasquatch/json-schema-inferrer">saasquatch/json-schema-inferrer</a>
  <br />
  <a href="https://saasquatch.com">
    <img src="/assets/images/favicon.png" height="32px" style="padding-top: 4px;" />
  </a>
</p>
</body>
</html>
